<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="text-center text-lg-start bg-white text-muted">
    <section class="mt-5">
        <div class="container text-center text-md-start mt-1 border-top">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa-solid fa-heart me-3 text-secondary"></i>Bibi's Stuff
                    </h6>
                    <p>
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                        AAAAAAAAAAAAAAAAAAAA
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <div class="elementos">
                    <p>
                        <a href="#!" class="text-reset">Camisetas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Camisas</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Calças</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Vestidos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Saias</a>
                    </p>
                    </div>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <div class="elementos">
                    <p>
                        <a href="#!" class="text-reset">Perfil</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Compras</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Dúvidas</a>
                    </p>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i> São José do Rio Preto, SP, BR</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        bibi@stuff.com
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i> 17 1234-5678</p>
                    <div>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 link-secondary">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .elementos{
            font-size: 0.7em;
        }
    </style>
</footer>
</body>
</html>